<div class="d-md-flex d-none">
    <img style="width: 100%;height: 1000px;" src="assets/imagenes/camaHotel.png">
</div>

<div style="background-color: #f8e7e3;" class="d-flex justify-content-center flex-column align-items-center py-5 text-center">
    <h2 class="my-1 py-3"style="font-family:serif;line-height:1.5">Bienvenido a Sheraton Lima Historic Center</h2>
    <p class="my-1 py-2" style="font-size: 54px;color:#797271;font-family: serif;line-height: 1.5;">Descanse en nuestras suites en el Centro de Lima</p>
  </div>



  <div class="row justify-content-md-center text-center p-4 m-4">
    <div class="col-md-4" style="border-bottom: 3px solid;">
        <h1 style="font-family:serif;font-size: 33px;">Habitación Simple</h1>
        Ideal para viajeros que buscan comodidad y funcionalidad en un espacio acogedor. 
        La habitación simple cuenta con una cama individual, escritorio, y baño privado, perfecta para estancias cortas.
        <h2 style="font-family:serif" class="text-start">Servicios</h2>
        <ul class="text-start">
            <li>TV</li>
            <li>Conexión WIFI</li>
            <li>Aire Acondicionado</li>
        </ul>
    </div>
    <div class="col-md-3  d-none d-md-flex  align-items-center">
       <img style="width: 100%; border-radius: 2%;" src="assets/imagenes/HabitacionSimple.jpg" >

    </div>
  </div>

  <div class="row justify-content-md-center text-center p-4 m-4">
    <div class="col-md-3 d-none d-md-flex  align-items-center">
       <img style="width: 100%; border-radius: 2%;" src="assets/imagenes/habitacionDoble.png" >
    </div>

    <div class="col-md-4" style="border-bottom: 3px solid;">
        <h1 style="font-family:serif;font-size: 33px;">Habitación Doble</h1>
        Esta habitación ofrece una experiencia cómoda y funcional, diseñada para compartir, con dos camas individuales o una cama doble.
        <h2 style="font-family:serif" class="text-start">Servicios</h2>
        <ul class="text-start">
            <li>Baño privado</li>
            <li>TV de pantalla plana</li>
            <li>MiniBar</li>
            <li>Conexión WIFI</li>
        </ul>
    </div>

  </div>


  <div class="row justify-content-md-center text-center p-4 m-4">

    <div class="col-md-4" style="border-bottom: 3px solid;">
        <h1 style="font-family:serif;font-size: 33px;">Habitación Suite</h1>
        La suite es un espacio exclusivo y amplio, pensado para quienes desean un alojamiento de lujo con todas las comodidades.
        <h2 style="font-family:serif" class="text-start">Servicios</h2>
        <ul class="text-start">
            <li> Cuenta con cama king-size</li>
            <li>sala de estar separada</li>
            <li>baño con bañera de hidromasaje</li>
            <li>TV de alta definición</li>
            <li>minibar premium.</li>
        </ul>
    </div>
    <div   class="col-md-3  d-none d-md-flex  align-items-center">
        <img style="width: 100%;border-radius: 2%;" src="assets/imagenes/habitacionSuite.png" >
     </div>
  </div>

  <div class="row justify-content-md-center text-center p-4 m-4">

    <div   class="col-md-3  d-none d-md-flex  align-items-center">
        <img style="width: 100%;border-radius: 2%;" src="assets/imagenes/habitacionFamiliar.png" >
     </div>

    <div class="col-md-4" style="border-bottom: 3px solid;">
        <h1 style="font-family:serif;font-size: 33px;">Habitación Familiar</h1>
        Perfecta para grupos o familias, esta habitación está diseñada para ofrecer un espacio amplio y cómodo que se adapta a todos los miembros de la familia.
        <h2 style="font-family:serif" class="text-start">Servicios</h2>
        <ul class="text-start">
            <li>Equipada con una cama doble</li>
            <li>varias camas individuales</li>
            <li>baño privado</li>
            <li>una zona de juegos o entretenimiento.</li>
        </ul>
    </div>
   
  </div>