<div class="d-md-flex d-none">
    <img style="width: 100%;" src="assets/imagenes/Restaurante.png">
</div>
<div style="background-color: #f8e7e3;" class="d-flex justify-content-center flex-column align-items-center px-5 py-4 text-center">
    <p class="my-1 py-2"style="font-size:20px; font-family: serif">Restaurante Sheraton Lima Historic Center    </p>
    <h1 class="my-1 py-2" style="font-size: 54px;font-family: serif;line-height: 1.5;color:#797271;">Disfruta de las comidas y bebidas que te ofrece Sheraton Lima Historic Center
    </h1>
  </div>


    <div class="row justify-content-center my-5 mx-3">
        <h4 class="text-center" style="font-size: 40px; color:#1d60a2;font-family: serif;line-height: 1.5;">Restaurantes y Bebidas</h4>
          <div class="imagen col-lg-3 p-0 rounded-4 m-3">
            <img class="rounded-top-4" style="width:100%;" src="assets/imagenes/Restaurante1.png">
            <div class="text-center p-3">
                <h2 style="border-bottom:1px solid #eceef0;" class="text-start">Nebula Bites</h2>
                <p style="font-size: 16px;">Ubicado en un entorno futurista, Nebula Bites ofrece una experiencia gastronómica única, 
                    inspirada en la cocina molecular y en sabores de todo el mundo. Los comensales pueden disfrutar 
                    de platillos servidos en formas poco convencionales, como esferas de sabores y cócteles humeantes. 
                    Este restaurante integra tecnología en cada experiencia, desde menús digitales interactivos hasta 
                    presentaciones con luces y efectos visuales.</p>
            </div>
        </div>
        
        <div class="imagen col-lg-3 p-0 rounded-4 m-3">
            <img class="rounded-top-4" style="width:100%;" src="assets/imagenes/Restaurante2.png">
            <div class="text-center p-3">
                <h2 style="border-bottom:1px solid #eceef0;" class="text-start">Raíz Ancestral</h2>
                <p style="font-size: 16px;">Con un enfoque en técnicas de cocina prehispánicas y el uso de ingredientes locales y antiguos, 
                    Raíz Ancestral busca honrar la gastronomía autóctona. Su menú cambia estacionalmente para reflejar 
                    la abundancia de cada época, con platillos cocinados en hornos de barro, técnicas de ahumado, y una 
                    presentación rústica y elegante. Este restaurante no solo ofrece una comida deliciosa sino una conexión 
                    profunda con las raíces culturales.</p>
                </div>
        </div>
        <div class="imagen col-lg-3 p-0 rounded-4 m-3">
            <img class="rounded-top-4" style="width:100%;" src="assets/imagenes/Restaurante3.png">
            <div class="text-center p-3"> 
                <h2 style="border-bottom:1px solid #eceef0;" class="text-start">El Jardín Escondido</h2>
                <p style="font-size: 16px;">Este restaurante estilo "farm-to-table" 
                    se encuentra en medio de un exuberante jardín, 
                    donde cultivan sus propios ingredientes frescos y 
                    orgánicos. Los comensales pueden disfrutar de una cocina 
                    inspirada en la naturaleza, con platillos que destacan por su frescura y colorido.
                     El menú ofrece una combinación de opciones vegetarianas y sostenibles, mientras que el entorno tranquilo 
                     y la vista a la huerta aportan una experiencia relajante y ecológica.</p>
                </div>
        </div>
     
    </div>
    
